// =============================================================================
// Flexbox Modifiers
// =============================================================================

.flex{
  display: flex;

  &--alignV{
    align-items: center;
  }

  &--alignVH {
    align-items: center;
    justify-content: center;
  }
}